<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="SafeRideDB"
		connectionString= "Data Source=tcp:saferidedbserver.database.windows.net,1433;Initial Catalog=SafeRide_db;User Id=SafeRideBackend@saferidedbserver;Password=applepw123!"
		providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<appSettings>
		<add key="FileSuffix" value="_archive.txt"/>
		<add key="ZipPath" value="archives.zip"/>
	</appSettings>
	
</configuration>